@media(max-width: 768px) {
    button.full-width {
        width: 100%;  
    }
}

.block {
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

#topMargin {
      margin-top:20px;
  }