@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

$main-bright: #bb3535;
$main-bright-btn-hover: #962c2c;
$text-color: white;

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      line-height: 1em;
      li {
        padding: 0 15px;
      }
      .loginBtn {
        margin-top: 20px;
      }
    }
  }
}

* {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  color: $main-bright;
}

button:hover {
  cursor: pointer;
}

button.btn {
  border: 0;
  border-radius: 0;
  background-color: $main-bright;
  font-weight: bold;
}
button.btn:hover {
  border: 0;
  border-radius: 0;
  background-color: $main-bright-btn-hover;
}

.dashboard {
  .block {
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  #topMargin {
    margin-top:20px;
  }
}

.welcome {
  .hero {
    background-image: url('https://images.unsplash.com/photo-1516685018646-549198525c1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
    margin: 0;

    .quicksearch {
      width: 300px;
      height: 200px;
      padding: 30px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      position: relative;
      top: 25%;
      left: 10%;

      h1 {
        font-weight: bold;
        color: $main-bright;
        font-size: 38px;
      }

      .search-button {
        border: 0;
        border-radius: 0;
        background-color: $main-bright;
        font-weight: bold;
      }
      .search-button:hover {
        border: 0;
        border-radius: 0;
        background-color: $main-bright-btn-hover;
      }
      background-color: white;
    }
  }

  .howto {

    h1 {
      color: $main-bright;
      text-align: center;
    }
    .steps {
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
      justify-content: space-evenly;

      .card {
        padding: 10px;
        width: 30%;
        min-width: 200px;
        border: none;

        img {
          height: 200px;
          text-align: center;
        }

        .title {
          color: $main-bright;
          text-align: center;
          font-weight: bold;
          font-size: 125%;
        }
      }
    }
  }
}

.navigation {
  .title {
    color: $text-color;
    font-weight: bold;
    font-style: italic;

  }
  .navbar {
    display: flex;
    justify-content: space-between;
    background: $main-bright;
  }
  
  .links {
    color: $text-color;
    margin-top: 20px;
  }
  
  .loginBtn {
    margin-top: 20px;
    margin-right: 5px;
  }

  .recipe-search, .recipe-search:active {
    background-color: white;
    color: $main-bright;
    border: 0;
    border-radius: 0;
  }

  .recipe-search:hover {
    background-color: rgb(247, 247, 247);
    color: $main-bright;
    border: 0;
  }
}

.quicksearch {
  .search {
    margin-top: 120px;
    margin-left: 500px;
    margin-right: 500px;
    position: absolute;
  }
  
  .CardTitle {
    text-align: center;
  }
}

#shoppingList {
  padding-left: 250px;
  padding-right: 250px;
  position: relative;
}

#fridgeList {
  padding-left: 250px;
  padding-right: 250px;
  position: relative;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
    
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

/* @media screen and (max-width: 1024px) { 
  img.bg {
    left: 50%;
    margin-left: -512px;   
  }
} */

.profile {
  .hero {
    background-image: url('https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 400px;
    margin: 0;

    .profile-box {
      width: 300px;
      min-height: 200px;
      padding: 30px;
      margin: 50px 50px 0 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      float: right;
      left: 20px;

      .label {
        text-align: left;
      }

      h1 {
        font-weight: bold;
        color: $main-bright;
        font-size: 38px;
      }

      .search-button {
        border: 0;
        border-radius: 0;
        background-color: $main-bright;
        font-weight: bold;
      }
      .search-button:hover {
        border: 0;
        border-radius: 0;
        background-color: $main-bright-btn-hover;
      }
      background-color: white;
    }
  }
  .diet-allergies {
    padding: 20px;
    form {
      display: flex;
      flex-wrap: wrap;

      .form-group {
        width: 45%;
        padding: 20px;

        h2 {
          text-align: center;
        }
      }
    }
  }
}

.ingredient-list-container {
  display: flex;
  flex-wrap: wrap;
  .ingredient-card {
    font-size: 200%;
    color: $text-color;
    width: 250px;
    word-wrap: normal;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
  }
}

.recipe-results {
  .recipe-search-results-button {
    padding: 20px 0;
    position: fixed;
    bottom: 0;
  }
  .recipes-results-container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://images.unsplash.com/photo-1531914082256-1b9047242426?ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: cover;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 70px 20px;
    justify-content: center;
    .recipes-results-card {
      width: 250px;
      word-wrap: normal;
      flex-shrink: 0;
      flex-grow: 0;
      margin: 5px;
      text-align: center;
      .card-title {
        color: $main-bright;
        font-weight: bolder;
      }
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 280px;
      }
      .small {
        font-size: 75%
      }
      a {
        color: gray;
      }
      .material-icons {
        line-height: 0;
        font-size: 52px;
        position: absolute;
        top: 30px;
        right: 10px;
        color: $main-bright;
      }
      .material-icons:hover {
        cursor: pointer;
      }
    }
  }
  .hidden-filters-icon {
    background: $main-bright;
    color: white;
    position: fixed;
    top: 100px;
    left: 0px;
    padding: 20px 10px;
    .material-icons {
      position: relative;
      top: 5px;
    }
  }
  .hidden-filters-icon:hover {
    cursor: pointer;
  }
  .sidebar {
    position: fixed;
    background: white;
    top: 100px;
    .card {
      height: 500px;
      width: 400px;
      font-size: 90%;
    }
    .card-header {
      display: flex;
      justify-content: space-between;
      .material-icons {
        color: gray;
        line-height: 125%;
      }
      .material-icons:hover {
        cursor: pointer;
      }
    }
    .form-check {
      margin-bottom: 8px;
      .form-check-label {
        margin: 0px 30px 0px 0px;
      }
    }
  }
}

.recipe-search-container {
  background-image: url('https://images.unsplash.com/photo-1448935852404-7a38bb46f5b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  .search-card {
    margin: auto;
    width: 500px;
  }
}

.loading-indicator {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #4D27CD;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  img {
    margin: auto;
    height: 100%;
  }
  h3 {
    color: white;
  }
}